{{define "base"}}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{template "title" .}} - Snippetbox</title>
        <link rel='stylesheet' type="text/css" href='/static/css/main.css'/>
    </head>
    <body>
        <header>
            <h1><a href='/'>Snippetbox</a></h1>
        </header>
        <nav>
            <a href="/">Home page</a>
            <a href="/snippet/create">Create snippet</a>
        </nav>
        <main>
            {{template "main" .}}
        </main>
        {{template "footer" .}}
    </body>
</html>
{{end}}